.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.search-button {
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

/* Estilo del botón al pasar el cursor */
.search-button:hover {
  background-color: #1c8adb;
}

.pagination {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.btn-container{
  display: block;
  margin: auto;
}
.previous-button,
.next-button {
  padding: 8px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.page-text {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
  color: #ff6600;
}

.blocked-button {
  pointer-events: none;
  background-color: #ddd; /* Color de fondo deshabilitado */
  color: #888; /* Color de texto deshabilitado */
  cursor: not-allowed; /* Cursor que indica que no está permitido interactuar */
  /* Estilos adicionales para simular un botón deshabilitado */
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

